<section class="container">
<%= image_tag "lecture.png", {:style => "width:100%; height: 10%"} %> 
<h1>Loveworld Strasbourg</h1>
<p>vous invite à découvrir ses différents clubs de lecture.</p>
<p>Club Adulte  les mardis 16h- 17h30 et Les Jeudis de 16h30 - 18h</p>
<p>Teevo Club pour Ados: Les Samedis 15h30- 17h</p>
<p>Clubs Jeunes Lecteurs :  Avec goûter Les Mercredis 15h- 17h</p>
<p>Participation VOLONTAIRE de 10€/mois</p>
<p>Lieu : Locaux loveworld Strasbourg rue des acacias Pfulgrisheim 67370</p>
<%= link_to "Formulaire D'inscription", "/inscription", class: "inscription" %>
</section>
